{
	"env": {
		"browser": {
			"presets": [
			["env", {
				"targets": {
				"chrome": 56
				}
			}]
			]
		},
		"development": {
			"presets": ["react-native"]
		},
		"test": {
			"presets": ["react-native"]
		}
	}
}